# afaligner ( https://github.com/r4victor/afaligner )
afaligner==0.1.4

# Julius ( https://github.com/julius-speech/julius )
pyjuliusalign==3.1.0
PySegmentKit==0.2.1

# aeneas ( https://github.com/readbeyond/aeneas )
aeneas==1.7.3.0
# need also boto3 to use AWS Polly for TTS
boto3
